# DATA STRUCTURES TUPLES

Python Tuple is a collection of objects separated by commas.

In [1]:
var = ("varun","apple","banana")
print(var)

('varun', 'apple', 'banana')

In [4]:
mytuple = ("apple",)
print(type(mytuple))
 
#NOT a tuple
mytuple = ("apple")
print(type(mytuple))

<class 'tuple'>
<class 'str'>

# Tuple Constructor in Python

In [6]:
tuple_constructor1 = tuple((("data", "machine ", "deep learning")))
print(tuple_constructor1)

('data', 'machine ', 'deep learning')

# Tuples are immutable and ordered and allow duplicate values.

In [7]:
mytuple = (1,8, 2, 9,3, 4, 5)

# tuples are indexed
print(mytuple[1])
print(mytuple[5])

# tuples contain duplicate elements
mytuple = (1, 2, 3, 1,4, 2, 3)
print(mytuple)

# adding an element
mytuple[1] = 100
print(mytuple)

8
4
(1, 2, 3, 1, 4, 2, 3)

TypeError: 'tuple' object does not support item assignment

# Accessing Values in Python Tuples 
# 1)Python Access Tuple using a Positive Index

In [8]:
var = ("varun","apple","banana")

print("Value in Var[0] = ", var[0])
print("Value in Var[1] = ", var[1])
print("Value in Var[2] = ", var[2])

Value in Var[0] =  varun
Value in Var[1] =  apple
Value in Var[2] =  banana

# 2)Access Tuple using Negative Index

In [9]:
var = ("varun","apple","banana")

print("Value in Var[-1] = ", var[-1])
print("Value in Var[-2] = ", var[-2])
print("Value in Var[-3] = ", var[-3])

Value in Var[-1] =  banana
Value in Var[-2] =  apple
Value in Var[-3] =  varun

# Different Operations Related to Tuples

Concatenation, Nesting, Repetition, Slicing ,Deleting, Finding the length Multiple Data Types with tuples ,
Conversion of lists to tuples ,Tuples in a Loop

# Concatenation of Python Tuples

In [11]:
# Code for concatenating 2 tuples
tuple1 = (0, 1, 2, 3,4,5)
tuple2 = ('python', 'varun')

# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 4, 5, 'python', 'varun')

# Nesting of Python Tuples

In [12]:
# Code for creating nested tuples
tuple1 = (0, 1, 2, 3,4,5)
tuple2 = ('python', 'varun')

tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3, 4, 5), ('python', 'varun'))

# Repetition Python Tuples

In [13]:
# Code to create a tuple with repetition
tuple3 = ('varun',)*3
print(tuple3)

('varun', 'varun', 'varun')

# Slicing Tuples in Python

In [15]:
# code to test slicing
tuple1 = (0, 1, 2, 3,4,5)

print(tuple1[1:])
print(tuple1[::-2])
print(tuple1[3:4])

(1, 2, 3, 4, 5)
(5, 3, 1)
(3,)

# Converting a List to a Tuple

In [16]:
# Code for converting a list and a string into a tuple
list1 = [0, 1, 2, 3,4,5]

print(tuple(list1))

# string 'python'
print(tuple('python'))

(0, 1, 2, 3, 4, 5)
('p', 'y', 't', 'h', 'o', 'n')